__pycache__/
*.py[cod]
*.log
.pytest_cache/
.mypy_cache/
.venv/
.env
.env.*
.git/
.github/
.vscode/
db.sqlite3
*.sqlite3
Dockerfile*
docker-compose*.yml
node_modules/
.Python
env/
venv/
.gitignore
.DS_Store